<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="renderer" content="webkit"/>
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/css/spectre.min.css">
    <link rel="stylesheet" href="/static/css/spectre-exp.min.css">
    <link rel="stylesheet" href="/static/css/spectre-icons.min.css">
</head>
<body>
<div class="container">
    <div class="columns">
        <div class="column col-4"></div>
        <div class="column col-4">
            <form class="form-horizontal" enctype="multipart/form-data" action="/upload" method="post">
                <div class="form-group">
                    <div class="col-3">
                        <label class="form-label" for="input-label">选择文件</label>
                    </div>
                    <div class="col-9">
                        <input type="file" name="uploadfile"/>
                    </div>
                    <div class="col-3">
                        <label class="form-label" for="input-label">操作</label>
                    </div>
                    <div class="col-9">
                        <input class="btn btn-primary" type="submit" value="开始上传"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="column col-4"></div>
    </div>
</div>
</body>
</html>
