<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="renderer" content="webkit"/>
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/css/spectre.min.css">
    <link rel="stylesheet" href="/static/css/spectre-exp.min.css">
    <link rel="stylesheet" href="/static/css/spectre-icons.min.css">
</head>
<body>
<div class="container">
    <div class="columns">
        <div class="column col-5"></div>
        <div class="column col-2">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-6">
                        <a class="btn btn-primary" href="/upload">上传文件</a></p>
                    </div>
                    <div class="col-6">
                        <a class="btn btn-success" href="/file">查看文件</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column col-5"></div>
    </div>
</div>
</body>
</html>
